<layout name="master" />
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="{:u('admin/index/index')}"><i class="fa fa-home"></i> Home</a></li>

    <li class="active">类型添加</li>
</ul>
<div class="m-b-md">
    <h3 class="m-b-none">类型添加</h3>
</div>
<div class="row" ng-controller="ctrl">
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">类型添加</header>
            <div class="panel-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label>商品类型名称</label>
                        <input type="text" class="form-control" value="{$oldData['type']}"  name="type">
                    </div>
                    <button type="submit" class="btn btn-sm btn-success">点击添加</button>
                </form>
            </div>
        </section>
    </div>
</div>
<script>
    function controller($scope, $, _) {

    }
</script>
