<layout name="master" />
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
    <li><a href="{:u('admin/index/index')}"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="{:u('admin/type/lists')}"><i class="fa "></i> 类型列表</a></li>

    <li class="active">类型属性列表</li>
</ul>
<div class="m-b-md">
    <h3 class="m-b-none">类型属性列表</h3>
</div>
<section class="scrollable wrapper">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>属性ID</th>
            <th>属性名称</th>
            <th>属性类别</th>
            <th>属性值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="type" item="vo">
            <tr>
                <td>{$vo['taid']}</td>
                <td>{$vo['taname']}</td>
                <td>{$vo['tatype']}</td>
                <td>{$vo['tavalue']}</td>
                <td>
                    <div class="btn-group">
                        <a href="{:u('admin/typeattribute/add',['tid'=>$vo['tid'],'taid'=>$vo['taid']])}" class="btn btn-primary">编辑</a>
                        <a href="javascript:;" onclick="del({$vo['tid']},{$vo['taid']})" class="btn btn-danger">删除</a>
                    </div>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$page}
    <div class="btn-group">
        <a href="{:U('admin/typeattribute/add',['tid'=>$_GET['tid']])}" class="btn btn-info">添加类型属性</a>
    </div>
</section>
<script>
    function del(tid,taid) {
        util.confirm('确定删除吗?',function(){
            location.href = '__ROOT__/admin/typeattribute/del?tid='+tid+'&taid='+taid;
        })
    }
</script>